@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* font-family: "Oswald", sans-serif; */

body {
    background-color: #fff8dc;
}

h1, h2, b{
    color: #6495ed;
    font-family: "Oswald", sans-serif;
}

p, li {
    font-family: "Oswald", sans-serif;
    font-size: large;
}

#center, li, h2, b {
    text-align: center;
}

ul {
    list-style-type: none;
}

/*paddings*/
footer, h2, p, li{
    padding: 10px;
}

.btn {
    color: #fff8dc;
    background-color: #6495ed;
    border-color: #6495ed;
}
.btn:hover {
    color: #fff8dc !important;
    background-color: #6495ed !important;
    border-color: #6495ed !important;
}


.divs {
    padding: 120px 40px 40px 40px;
}

#Me {
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    float: left;
    margin: 0 30px 20px 0;
}

/* drop down references */


#drop{
    font-size:25px;
    border-top:solid 1px #462521;
    border-bottom:solid 1px #462521;
    margin: 20px;
    padding: 20px;
}

#drop2{
    font-size:20px;
    border-bottom:1px solid #462521;
    margin: 20px;
    padding: 20px;
}


/* hover */
@media (any-hover: hover) {
    a:hover {
      Color: #5077be;
    }
}

/*Nav bar*/
.navbar {
    background-color: #e9ddaf;
}

.nav-item {
    padding: 5px;
    margin: 5px;
}


/*-------- Tablet Media Query --------*/
@media screen and (min-width: 769px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, minmax(230px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }
}


/*-------- Tablet Media Query --------*/
@media screen and (min-width: 769px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, minmax(230px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }
}
/*-------- End of Tablet Media Query --------*/

/*-------- Desktop Media Query --------*/
@media screen and (min-width: 1025px) {
    .container  {
        display: grid;
        grid-template-columns: repeat(3, minmax(230px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }

}
/*-------- End Desktop Media Query --------*/
